<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
  <style type="text/css">
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <span type="button" class="navbar-toggle glyphicon glyphicon-align-justify" id="dropdownnav" data-toggle="collapse" data-target="#myNavbar">                      
        </span>
        <a class="navbar-brand" href="#" id="heading">BZONE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/" id="font1">Home</a></li>
          <li><a href="#" id="font2">Electronics</a></li>
          <li><a href="#" id="font3">Men</a></li>
          <li><a href="#" id="font4">Women</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" id="font5"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#" id="font6"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>